html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  font-family: 'Prompt', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.menu {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  padding: 60px 0;
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(10px, 5%, 60px)
}

.menu__link {

  &--active {
    text-decoration: underline;
  }
}


.top {
  height: var(--scroll-height);
}

.top__layer {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

@supports(animation-timeline: scroll()) {
  :root {
    --scroll-height: 200vh;
  }

  .top__layer {
    animation-timing-function: linear;
    animation-timeline: scroll();
    animation-fill-mode: both;
    animation-range: 0 var(--scroll-height);
  }
}

.top__layer--5 {
  animation-name: top-layer-5;
}

.top__layer--4 {
  animation-name: top-layer-4;
}

.top__layer--3 {
  animation-name: top-layer-3;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.top__layer--2 {
  animation-name: top-layer-2;
}

.top__layer--1 {
  animation-name: top-layer-1;
}

@keyframes top-layer-5 {
  to {
    transform: scale(1.1);
  }
}

@keyframes top-layer-4 {
  to {
    transform: scale(1.2);
  }
}

@keyframes top-layer-3 {
  to {
    transform: scale(1.3);
  }
}

@keyframes top-layer-2 {
  to {
    transform: scale(1.7);
  }
}

@keyframes top-layer-1 {
  to {
    transform: scale(1.8);
  }
}

.top__text {
  font-family: 'GravitasOne', sans-serif;
  text-align: center;
  opacity: 0;
  animation-name: text;
  animation-timeline: scroll();
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-range: 25% 100%;
  padding: 0 20px;
}

@keyframes text {
  to {
    opacity: 1;
  }
}

.title {
  font-size: clamp(60px, 5vw, 120px);
  text-transform: uppercase;
}

.text {
  font-size: clamp(16px, 2.5vw, 24px);
}

.arrows-box {
  border-radius: 50%;
  border: 1px solid #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: rgba(30, 30, 30, 0.7);
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.arrows {
  position: relative;
  width: 10px;
  height: 10px;
}

.arrows:before,
.arrows:after {
  content: '';
  position: absolute;
  border-right: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  top: 0;
  width: 100%;
  height: 100%;
  animation: arrows 3s linear infinite;
}

.arrows:after {
  animation: arrows 3s linear infinite -1.5s;
}

@keyframes arrows {
  0% {
    opacity: 0;
    transform: translateY(-10px) rotate(45deg);
  }

  10%,
  90% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(10px) rotate(45deg);
  }
}